#chat__screen{
	background-color: #abc1d1;
	height: 500vh;
	color: rgb(87, 81, 76);
}



#chat__screen .alt-header,
#chat__screen .status-bar{
	
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	top:0px;
}
#chat__screen .status-bar{
z-index: 2;
}

#chat__screen .alt-header{
	top:10px;
	z-index: 1;
}

@keyframes fadeIn{
	from{opacity: 0;
		transform: translateY(30px);
	}
to{opacity: 1;
	transform: none;

}}

.main-chat{
	margin-top: 140px;
	display: flex;
	flex-direction: column;
	align-items: center;
	animation: fadeIn .3s linear;
	}

	.chat__timestamp{
		color: white;
		border-radius: 25px;
		background-color: rgba(0,0,0,0.2);
		padding:10px;
		font-size: 10px;
		margin-bottom: 25px;
	}
	.message-row{
		width:100%;
		display: flex;
		margin-bottom: 25px;

	}
	.message-row img{
		width: 50px;
		height: 50px;
		border-radius: 15px;
		margin-right: 10px;}

.second-content{
	margin-top: 15px;
	margin-bottom: 25px;

}
		.message__info{
			display: flex;
			align-items: flex-end;
		} 
		.message__author{
			margin-bottom: 5px;
			font-size:13px;
			opacity: 0.4;
			display: block;
		}
		

   .message__bubble{
	  background-color: white;
    padding: 13px;	
			border-radius: 15px;
			border-top-left-radius: 0px;
		margin-left: 5px;
	font-size: 18px;}


		.message__time{
			font-size:10px;
			opacity: 0.4;


		}

		.message-row--own{
			justify-content: flex-end;
		}

		.message-row--own .message__bubble{
		background-color: rgb(255, 230, 0);
		border-top-right-radius: 0px;
		border-top-left-radius: 15px;
		}	
			.message-row--own .message__info{
		flex-direction: row-reverse;}


			.reply{
				position: fixed;
				bottom: 0;
				width: 100%;
				background-color: white;
				display: flex;
				justify-content: space-between;
				padding: 5px 25px;
				box-sizing:border-box;
			align-items: center;
			}
.reply__column:first-child{
				width: 10%;
			}
 .reply__column:last-child{
				width: 90%;
				position: relative;
			}
			.reply input{
				padding:14px;
				width: 100%;
				border: var(--main-border);
				border-radius: 20px;
				box-sizing: border-box;
			}

			.reply__column:last-child >i, .reply__column:last-child  button{ position:absolute;
			right: 5px;
		top:4px;}

		.reply__column:last-child > i{
			right:50px;
			top:15px;
		}

		.reply__column button{
			background-color:  rgb(255, 230, 0);
			border: none;
			width:35px;
			height:35px;
			border-radius: 50%;
		}
		.reply__column button:focus,
		.reply__column button:active{
			outline:none;
		}

		.reply i{
			opacity: 0.5;
		}
		.reply__column button i{
			opacity: 1;
		}


		.reply:focus-within .reply__column:first-child{
			display: none;
		}
		.reply:focus-within .reply__column input{
		padding:14px 0px 14px 14px;
				width: 115%;
	
		}

		

		.reply:focus-within  .reply__column:last-child  button
		 {position: absolute;
     right:-50px;
		}
		.reply:focus-within  .reply__column:last-child >i
		 {position: absolute;
     right:-5px;
		}

