
.more-screen .icon-row {
  margin-top: 35px;
}
.none {
  opacity: 0;
}
.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
  background-color: transparent;
  

}
.more-suggestion__title {
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.more-suggestions__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
 
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-image i {
  font-size: 36px;
  color: rgba(255, 255, 255, 0.89);
  background-color: transparent;
}
.more-suggestions__icon-text{
  margin-top: -10px;
}