.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  position: relative;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 30px;
}

.red__dot {
  display: flex;
  background-color: rgb(89, 119, 252);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  right: 20px;
}

@keyframes cogSpin{
  from{transform:none;
  }
  to{transform:rotateZ(360deg)
  }}

.screen-header .fa-cog:hover{
  animation: cogSpin 1s ease-in-out infinite;
}